<!-- main.handlebars -->
<!DOCTYPE html>
<html>
<head>
  <title>Título de tu sitio</title>
  <link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
</head>
<body>
  <!-- Encabezado común, menú, etc. -->
  {{{body}}}
  <!-- Pie de página común, scripts, etc. -->
</body>
</html>
