<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        <link rel="icon" type="image/x-icon" href="data:image/x-icon;,">

    </header>
    <main>
        <p>Esta es la página de acerca de nosotros. Aquí puedes poner información sobre tu sitio o tu empresa.</p>
    </main>
    <footer>
        <p>© 2023 Tu Empresa</p>
    </footer>
</body>
</html>
