<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;,">

</head>
<body>
    <h1>Login</h1>
    <!-- Formulario de inicio de sesión -->
    <form action="/auth/login" method="POST">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username">
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña">
        <button type="submit">Iniciar sesión</button>
    </form>
    <!-- Enlace para redirigir a la página de registro -->
    <p>¿No tienes una cuenta? <a href="/auth/register">Regístrate aquí</a></p>
</body>
</html>
