<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Success</title>
</head>
<body>
    <h1>Password Reset Success</h1>
    <p>¡Tu contraseña se ha restablecido exitosamente!</p>
    <p>Ahora puedes iniciar sesión con tu nueva contraseña.</p>
</body>
</html>
