<!-- main.handlebars -->
<!DOCTYPE html>
<html>
<head>
  <title>Título de tu sitio</title>
  <!-- Agrega aquí tus estilos o enlaces a CSS -->
</head>
<body>
  <!-- Encabezado común, menú, etc. -->
  {{{body}}}
  <!-- Pie de página común, scripts, etc. -->
</body>
</html>
