<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Carrito</title>
  <link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
</head>
<body>
  <h1>Carrito de Compras</h1>
  {{#each cartProducts}}
    <div>
      <h2>{{name}}</h2>
      <p>Precio: {{price}}</p>
      <p>Cantidad: {{quantity}}</p>
      <p>Categoría: {{category}}</p>
    </div>
  {{/each}}
  <script src="/js/cart.js"></script> <!-- Enlace al archivo JavaScript del carrito -->
</body>
</html>

